[submodule "deps/cpr"]
	path = sdk/cpr
	url = git@github.com:janreyho/cpr.git
[submodule "deps/libmediasoupclient"]
	path = sdk/libmediasoupclient
	url = git@github.com:janreyho/hxmediasoupclient.git
